
<table class="table table-dark table-hover">
    <tr>
        
        <td>Nombre</td>
        <td>Valor</td>
        <td>Descripcion</td>
        <td>Cantidad</td>
        <td>ImagenCupon</td>

    </tr>

    @foreach(var Cupon in Model){
      <tr>
        <td>@Cupon.NombreCupon</td>
        <td>@Cupon.ValorCupon</td>
        <td>@Cupon.DescripcionCupon</td>
        <td>@Cupon.CantidadCupon</td>
       <td><img src="@Cupon.ImagenCupon" alt="Descripción de la imagen" style="width: 100px; height: 100px;"></td>
       <td><a class="nav-link btn " asp-area="" asp-controller="Cupones" asp-action="Details" asp-route-id="@Cupon.Id">Detalles</a>

        
      </tr>

    }
    
</table>
